* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: fantasy;
    outline: none;
}

#title{
display: flex;
justify-content:center;
margin-top: 100px;
font-size: 3rem;
color: #bdbdbd;
text-align: center;
font-family:'Trebuchet MS',sans-serif;

}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
    /*nph effect*/
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 100%;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 20px;
    color: gray;
    font-size: 40px;
    text-align: end;
    margin: auto;
    padding-right: 5px;
    margin-top: 7%;
}

button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    margin: 10px;
    font-size: 15px;
  
}

button:hover{
    background-color: #32fea7;
    transition: 0.5s;
}

.equal {
    width: 110px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(246, 154, 42, 0.16);
    background-color: #32fea7;
}

@media (min-width: 768px){
#title{
    font-size:2.8rem;
    padding-left: 40px;
    padding-right: 40px;
}
}